body{
    background-image:url(../images/01.jpeg);
    background-size:cover;
}

div.T{
    width:1000px;
    height:100px;
    background-color:aquamarine;
    color:deeppink;
    margin-bottom:20px;
    font-size:70px;
    text-align:center;
    margin:auto
}

div.F{
    width:1000px;
    height:40px;
    background-color:violet;
    color:navy;
    margin-top:20px;
    text-align:right;
    margin:auto
}

div.m{
    width:200px;
    height:40px;
    background-color:blueviolet;
    color:aliceblue;
    text-align:center;
    margin:40px 0px;
}

div.L{
    width:200px;
    height:40px;
    text-align:center;
    margin:0px 0px 20px;
}

div.img1{
    width:575px;
    height:750px;
    background-image:url(../images/king.jpg);
    background-repeat:no-repeat;
    margin:40px 0px 0px;
}

div.img2{
    width:640px;
    height:360px;
    background-image:url(../images/hitman.jpg);
    background-repeat:no-repeat;
    margin:-150px 0px 0px 110px;
}

div.img3{
    width:456px;
    height:456px;    
    background-image:url(../images/bio.jpg);
    background-repeat:no-repeat;
    margin:-50px 0px 0px 0px;
}

div.img4{
    width:298px;
    height:424px;
    background-image:url(../images/ryu.jpg);
    background-repeat:no-repeat;
    margin:-300px 0px 0px 400px;
}

div.Cen{
    font-size:0;
    width:1000px;
    margin:auto
}

div.M{
    background-color:aliceblue;
    display:inline-block;
    vertical-align:top;
    font-size:20px;
}

div.I{
    display:inline-block;
    vertical-align:top;
    margin-left:50px;
}